<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue实例</title>
    <style>
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #app{
            background-color: #f5f5f5;
            display: flex;
            flex-flow: column;
        }
        .post{
            width: 200;
            height: 200;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <button-counter v-for="item in number" :number="item"></button-counter>
        <div :style="{fontSize: postFontSize + 'em'}">
            <blog v-for="post in posts" :key="post.id" :post="post" v-on:enlarge-text="postFontSize += $event"></blog>
        </div>

        <custom-input v-model="searchText"></custom-input>

        <alert-box>Some</alert-box>

        <div>
            <input type="radio" value="blog" v-model="choseCompnet">
            <input type="radio" value="custom-input" v-model="choseCompnet">
            <input type="radio" value="ert-box" v-model="choseCompnet">
            <component v-bind:is="choseCompnet" v-for="post in posts" :key="post.id" :post="post"></component>
        </div>
    </div>
</body>
<script>
    Vue.component('button-counter',{
        props:['number'],
        data() {
            return {
                count:this.number
            }
        },
        template:'<button @click="count++">addCount {{count}}</button>'
    })

    Vue.component("blog",{
        props:['post'],
        template:'<div class="post"><h3>{{ post.title }}</h3><div v-html="post.content"></div><button v-on:click="$emit(\'enlarge-text\',0.1)">Enlarge text</button></div>'
    })
    

    //在组件上使用 v-model:问题
    Vue.component('custom-input', {
        props: ['value'],
        template: `
            <input
            v-bind:value="value"
            v-on:input="$emit('input', $event.target.value)"
            >
        `
    })

    //向一个组件传递内容，像这样：
    // <alert-box>
    //   Something bad happened.
    // </alert-box>
    //插槽：在想往子组件插入Something bad happened的文职添加slot标签即可
    Vue.component('alert-box',{
        template:`
            <div>
                <strong>Error!</strong>
                <slot></slot>
            </div>
        `
    })

    var vm = new Vue({
        el:"#app",
        data:{
            number:[10,12,41],
            posts:[
                {
                    id:1,
                    title:"1",
                    content:"1"
                },
                {
                    id:2,
                    title:"2",
                    content:"2"
                },
            ],
            postFontSize:1,
            choseCompnet:'blog'
        }
    })
</script>
</html>
